.photo-grid {
  margin: 64px 16px 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    margin: 91px 24px 0;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    margin: 96px 48px 0;
  }
}