.place__website_block_lower {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .place__website_block_lower {
    padding: 44px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__website_block_lower {
    padding: 75px 0 0;
  }
}