.lead {
  color: white;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .lead {
    margin: 0 48px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    margin: 0 148px;
  }
}