.lead {
  color: white;
  padding: 0;
  margin: 0 auto 0;
}

@media screen and (min-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    max-width: 984px;
  }
}