.cover__overlay {
  background-color: rgb(42, 44, 47, 0.3);
  color: white;
  display: block;
  text-decoration: none;
  min-height: 200px;
}

.cover__overlay:hover {
  background-color: rgb(42, 44, 47, 0.8);
}

@media screen and (min-width: 768px) {
  .cover__overlay {
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__overlay {
    min-height: 740px;
  }
}